 {{!--
 Citation for the following code:
 Date: 11/19/2025
 This file's structure is adapted from the OSU CS 340 starter code.
 All variables, queries, and application-specific logic have been rewritten 
 for our project requirements.
 https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
 https://canvas.oregonstate.edu/courses/2017561/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25645149
 --}}
 
<h1>Products</h1>

{{! READ table }}
<table>
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>List Price</th>
      <th>Stock Quantity</th>
      <th>Reorder Level</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.productID}}</td>
      <td>{{this.productName}}</td>
      <td>{{this.description}}</td>
      <td>{{this.category}}</td>
      <td>{{this.supplier}}</td>
      <td>{{this.listPrice}}</td>
      <td>{{this.stockQuantity}}</td>
      <td>{{this.reorderLevel}}</td>

    </tr>
    {{/each}}
  </tbody>
</table>


